/**
  * Author: Dmitry Stepanov
  * E-Mail: dmitrij@stepanov.lv
  * URL: http://www.stepanov.lv
  */

html, body {
  height: 100%;
}

body {
  background-color: white;
}

* {
  margin: 0px;
  padding: 0px;
  outline: solid 0px transparent;
}

table {
  border-collapse: collapse;
  empty-cells: show;
}

img {
  border: solid 0px transparent;
}

div {
  display: block;
}

div, table, td, p,
input, textarea {
  font-family: inherit;
  font-size: inherit;
	line-height: inherit;
  color: inherit;
}

label,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  cursor: pointer;
}
